.blocker{
  width:100%;
  height:100%;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 999999;
  align-content: center;
  display: table;
  background-color: #0002;

}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div.alert{
  position:fixed;
  top:60px;
  margin-left: 25%;
  margin-right: 25%;
  width:50%;
  height:auto;
  padding: 5px;
  padding-left: 15px;
  z-index: 100000;
}

@media (max-width:767px){
  #alert{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
